<table>
  {% for row in include.table_name %}
    {% if forloop.first %}
    <thead>
    <tr>
      {% for pair in row %}
        {% unless pair[0] contains 'Footprint' or pair[0] contains 'Datasheet' %}
          {% if pair[0] contains 'Quantity' %}
            <th style="text-align: center">Qt</th>
          {% elsif pair[0] contains 'Reference' %}
            <th style="text-align: center">Ref</th>
          {% else %}
            <th style="text-align: center">{{ pair[0] }}</th>
          {% endif %}
        {% endunless %}
      {% endfor %}
    </tr>
    </thead>
    {% endif %}
  
    <tr>
    {% for pair in row %}
      {% unless pair[0] contains 'Footprint' or pair[0] contains 'Datasheet' %}
        {% if pair[1] contains 'http://' or pair[1] contains 'https://' %}
          {% assign name_url = pair[1] | remove:'https://' | remove:'http://' | split:'/' | first | remove:'www.' %}
          <td><a href="{{ pair[1] }}">{{ name_url }}</a></td>
        {% else %}
          <td>{{ pair[1] }}</td>
        {% endif %}
      {% endunless %}
    {% endfor %}
    </tr>
  {% endfor %}
</table>