<table>
  {% for row in include.table_name %}
    {% if forloop.first %}
    <thead>
    <tr>
      {% for pair in row %}
        {% unless pair[0] contains 'Footprint' %}{% unless pair[0] contains 'Datasheet' %}
          <th style="text-align: center">{{ pair[0] }}</th>
        {% endunless %}{% endunless %}
      {% endfor %}
    </tr>
    </thead>
    {% endif %}
  
    <tr>
    {% for pair in row %}
      {% unless pair[0] contains 'Footprint' %}{% unless pair[0] contains 'Datasheet' %}
        <td>{{ pair[1] }}</td>
      {% endunless %}{% endunless %}
    {% endfor %}
    </tr>
  {% endfor %}
</table>